html {
    height: 100%;
    background: radial-gradient(circle, #ffffff, #c0c0c0);
    background: -webkit-radial-gradient(circle, #ffffff, #c0c0c0);
    background: -moz-radial-gradient(circle, #ffffff, #c0c0c0);
    background: -o-radial-gradient(circle, #ffffff, #c0c0c0);
    background: -ms-radial-gradient(circle, #ffffff, #c0c0c0);
}

#mainBox {
    width: 800px;
    height: 600px;
    background-color: #9DD2E9;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 0px 4px #009CE4;
    -webkit-box-shadow: 0px 4px #009CE4;
    -moz-box-shadow: 0px 4px #009CE4;
    position: relative;
    padding: 20px;
}

#scoreBox {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
    background-color: #F1FE96;
    box-shadow: 0px 4px #9CA54F;
    -webkit-box-shadow: 0px 4px #9CA54F;
    -moz-box-shadow: 0px 4px #9CA54F;
    position: absolute;
    top: 20px;
    right: 20px;
}

#correct, #wrong {
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
    display: none;
    position: absolute;
    left: 380px;
    transition: display 0.3s ease;
}

#correct {
    background-color: #42E252;
}

#wrong {
    background-color: #DD4019;
}

#question {
    background-color: #9CA0EA;
    box-shadow: 0px 4px #525AA7;
    -webkit-box-shadow: 0px 4px #525AA7;
    -moz-box-shadow: 0px 4px #525AA7;
    width: 650px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 200px;
    font-family: cursive, sans-serif;
    text-align: center;
    line-height: 250px;
}

#instruction {
    background-color: #B381D8;
    box-shadow: 0px 4px #8053A6;
    -webkit-box-shadow: 0px 4px #8053A6;
    -moz-box-shadow: 0px 4px #8053A6;
    width: 650px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin: 0px auto;
    font-size: 20px;
}

#answers {
    width: 650px;
    height: 120px;
    margin: 15px auto;
}

.answer {
    background-color: white;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 56px;
    box-shadow: 0px 4px #7CA8BD;
    -webkit-box-shadow: 0px 4px #7CA8BD;
    -moz-box-shadow: 0px 4px #7CA8BD;
    position: relative;
    text-align: center;
    line-height: 120px;
    color: #A2A7A6;
    transition: top 0.2s;
    font-size: 34px;
}

#answer4 {
    margin-right: 0px;
}

.answer:hover, #startReset:hover {
    cursor: pointer;
    background-color: #9C88F5;
    box-shadow: 0px 4px #6A54D2;
    -webkit-box-shadow: 0px 4px #6A54D2;
    -moz-box-shadow: 0px 4px #6A54D2;
    color: white;
}

.answer:active, #startReset:active {
    background-color: #9C88F5;
    box-shadow: 0px 0px;
    -webkit-box-shadow: 0px 0px;
    -moz-box-shadow: 0px 0px;
    top: 4px;
}

#startReset {
    background-color: #D0E9F5;
    box-shadow: 0px 4px #7CA6BA;
    -webkit-box-shadow: 0px 4px #7CA6BA;
    -moz-box-shadow: 0px 4px #7CA6BA;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
    margin: 30px auto;
    position: relative;
    transition: top 0.2s;
}

#timeBox {
    background-color: #AFE550;
    box-shadow: 0px 4px #7CA6BA;
    -webkit-box-shadow: 0px 4px #7CA6BA;
    -moz-box-shadow: 0px 4px #7CA6BA;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    display: none;
}

#gameOver {
    width: 540px;
    height: 210px;
    padding: 10px;
    background: linear-gradient(#F3C76B, #F56C6D);
    background: -webkit-linear-gradient(#F3C76B, #F56C6D);
    background: -moz-linear-gradient(#F3C76B, #F56C6D);
    background: -o-linear-gradient(#F3C76B, #F56C6D);
    background: -ms-linear-gradient(#F3C76B, #F56C6D);
    color: white;
    font-size: 58px;
    text-align: center;
    padding: 40px;
    position: absolute;
    top: 136px;
    left: 110px;
    z-index: 2;
    text-transform: uppercase;
    display: none;
}